{% extends "base.html" %}

{% block content %}

<div class="what-is">
  <div class="container">
    <h2 class="what-trigger">What is a trigger?</h2>

    <div class="row ">
      <div class="col s12 col l3">
        <h3>01</h3>
        <p>Information is made public:</p>
        <p>Information about a future trigger in the form of an upcoming event, goal, or outcome is disclosed through
          official channels such as company reports, press releases, or other announcements by the company</p>
      </div>
      <div class="col s12 col l3">
        <h3>02</h3>
        <p>Trigger date:</p>
        <p>This is the date of the trigger, which is the timing of the event that investors are waiting for, acting as
          the catalyst. This means that the closer the trigger date, the greater the potential for a market movement.
        </p>
      </div>
      <div class="col s12 col l3">
        <h3>03</h3>
        <p>Investment opportunity:</p>
        <p>Here's where AktieTriggers comes in. Identifying these triggers in time can be challenging, making it
          difficult to enter the stock at the desired level. Our Trigger List gathers upcoming triggers so that you can
          carefully examine the company and make an informed decision.</p>
      </div>
      <div class="col s12 col l3">
        <h3>04</h3>
        <p>Trigger announcement:</p>
        <p>Investor actions lead to changes in stock prices. The market reacts by either raising or lowering stock
          prices depending on investors' collective assessment of the trigger's outcome.</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div id="our-purpose" class="col s12 col l6">
      <h3>Seize the opportunity and invest in tomorrow's companies today.</h3>
    </div>
    <div id="our-purpose" class="col s12 col l6 ">
      <p class="purpose-head">OUR PURPOSE:</p>

      <p><em>Anticipate the Future:</em> We strive to identify and present upcoming triggers that may impact companies' value,
        providing investors with the opportunity to anticipate and adapt to market movements.</p>

      <p><em>Sharing of Information:</em> We understand that navigating the stock market can be challenging. Our vision is to
        serve
        as a guide to facilitate your journey in the investment world. We aim to disseminate valuable information so
        that
        more people can benefit from successful investments.</p>

      <p class="purpose-head">REMEMBER:</p>

      <p><em>Personal Responsibility:</em> Investments always involve risks. Decisions should be made with care and based on
        individual analysis and risk tolerance</p>

      <p><em>No Investment Advice</em>: We do not provide personal investment advice or recommendations. AktieTriggers is a
        platform
        for information dissemination.</p>
    </div>
  </div>
</div>
<div class="container-list">
  <div class="trigger-info">
    <span class="order order-left"><i class="material-icons icon-style">work</i>Stock Name</span>
    <span class="order"><i class="material-icons icon-style">trending_up</i>Trigger-date</span>
    <span class="order"><i class="material-icons icon-style">event_available</i>Added</span>
    <span class="order"><i class="material-icons icon-style">description</i>Trigger</span>
  </div>
</div>
<div class="container-list">
  <ul class="collapsible expandable">
    {% for trigger in trigger_list %}

    <li>
      <div class="collapsible-header list-bg">

        <div class="trigger-info">
          <span class="trigger-span">{{ trigger.stock_name }}</span>
          <span class="trigger-span">{{ trigger.get_trigger_date_display }}</span>
          <span class="trigger-span">{{ trigger.created_on.date }}</span>
          <span class="trigger-span">{{ trigger.trigger_headline }}</span>
        </div>
      </div>
      <div class="collapsible-body">
        <div class="info-grid">
          <div class="infotext-grid">
            <div class="text-padding">
            <h5 class="summary-header">Summary of the trigger:</h5>
            <span class="summary-text">{{ trigger.summary |safe }}</span>
            </div>
          </div>
          <div class="button-grid">
            <div class="padding-div">
              <a href="{{ trigger.pr_link }}" target="_blank" id="info-button" class="waves-effect waves-light btn"><i class="material-icons ">work</i>to the source</a>
              <a href="{{ trigger.website_link }}" target="_blank" id="company-button" class="waves-effect waves-light btn info-button"><i class="material-icons ">event_available</i>to the company</a>
            </div>
          </div>
        </div>
      </div>
    </li>

    {% endfor %}
  </ul>
</div>
<!-- index.html content ends here -->
{% endblock %}