{% extends "base.html" %}

{% block content %}
<div class="container-list">
  <div class="trigger-info">
    <span class="order order-left"><i class="material-icons icon-style">work</i>Stock Name</span>
    <span class="order"><i class="material-icons icon-style">trending_up</i>Trigger-date</span>
    <span class="order"><i class="material-icons icon-style">event_available</i>Added</span>
    <span class="order"><i class="material-icons icon-style">description</i>Trigger</span>
  </div>
</div>
<div class="container-list">
  <ul class="collapsible expandable">
    {% for trigger in trigger_list %}

    <li>
      <div class="collapsible-header list-bg">

        <div class="trigger-info">
          <span class="trigger-span">{{ trigger.stock_name }}</span>
          <span class="trigger-span">{{ trigger.get_trigger_date_display }}</span>
          <span class="trigger-span">{{ trigger.created_on.date }}</span>
          <span class="trigger-span">{{ trigger.trigger_headline }}</span>
        </div>
      </div>
      <div class="collapsible-body">
        <div class="info-grid">
          <div class="infotext-grid">
            <div class="text-padding">
            <h5 class="summary-header">Summary of the trigger:</h5>
            <span class="summary-text">{{ trigger.summary |safe }}</span>
            </div>
          </div>
          <div class="button-grid">
            <div class="padding-div">
              <a href="{{ trigger.pr_link }}" target="_blank" id="info-button" class="waves-effect waves-light btn"><i class="material-icons ">work</i>to the source</a>
              <a href="{{ trigger.website_link }}" target="_blank" id="company-button" class="waves-effect waves-light btn info-button"><i class="material-icons ">event_available</i>to the company</a>
            </div>
          </div>
        </div>
      </div>
    </li>

    {% endfor %}
  </ul>
</div>
<!-- index.html content ends here -->
{% endblock %}