{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div id="trigger-detail" class="container">
    <!-- Trigger Information -->
    <div class="row">
        <div class="col">
            <h1>{{ trigger.stock_name }}</h1>
            <p><strong>Created On:</strong> {{ trigger.created_on }}</p>
            <form action="{% url 'favourite_add' trigger.id %}" method="POST">
                <button class="btn waves-effect waves-light" type="submit" name="favourites">Add to Favourites</button>
                {% csrf_token %}
            </form>
        </div>
    </div>

    <!-- Trigger Summary -->
    <div class="row">
        <div class="col">
            <h2>Summary</h2>
            <div>{{ trigger.summary | safe }}</div>
        </div>

    </div>

    <!-- Comment Form -->
    <div class="container">
        <div class="row comment-form">
            <div class="col">
                <h2>Add a Comment</h2>
                <form method="post" id="commentForm" style="
                background-color: white;">
                    {% csrf_token %}
                    {{ comment_form | crispy }}
                    <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col" id="comment-color">
                <h2>Comments</h2>
                {% for comment in trigger.comments.all %}
                <div  class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ comment.author }}</h5>
                        <p id="comment{{ comment.id }}" class="card-text">{{ comment.body | safe }}</p>
                        <p class="card-text"><small class="text-muted">{{ comment.created_on }}</small></p>
                        {% if user.is_authenticated and comment.author == user %}
                        <button data-target="deleteModal" class="btn btn-delete modal-trigger btn red"
                            data-comment_id="{{ comment.id }}">Delete</button>
                        <button class="btn btn-edit btn green" data-comment_id="{{ comment.id }}">Edit</button>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
<!-- Comments Section -->


<!-- Modal Structure -->
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <h4>Are you sure you want to delete your comment?</h4>
        <p></p>
    </div>
    <div class="modal-footer">
        <form id="deleteConfirm">
            <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn red">Delete</button>
        </form>
    </div>
</div>






{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}

{% endblock %}