{% load static %}

{% url 'sharetrigger' as sharetrigger_url %}
{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>TriggerStocks</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="TriggerStocks, Your key to smart investments.">
    <meta name="keywords" content="TriggerStocks, stock triggers, market analysis, TriggerList, investment decisions">


    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">


    <!-- MaterializeCSS stylesheet from CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon.io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon.io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon.io/favicon-16x16.png">
    <link rel="manifest" href="static/favicon.io/site.webmanifest">
    
</head>

<body class="d-flex flex-column h-100 main-bg">
    <div class="bc-nav">
        <!-- Desktop Navigation -->
        <nav class="dark-nav">
            <div class="container">
                <div class="nav-wrapper">
                    <!-- Brand Logo -->
                    <a href="{% url 'home' %}" id="brand-logo" class="brand-logo">TriggerStocks</a>
                    <!-- Desktop Navigation Menu -->
                    <ul class="right hide-on-med-and-down">
                        <!-- Home Page Link -->
                        <li id="nav-link" class="{% if request.path == home_url %}active{% endif %}">
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <!-- Conditional TriggerList Link (Shown only on Home Page) -->
                        {% if request.path == home_url %}
                        <li class="nav-item">
                            <a id="nav-link1" class="nav-link" aria-current="page" href="#triggerlist">TriggerList</a>
                        </li>
                        {% endif %}
                        <!-- Favourites Link (Visible to authenticated users) -->
                        {% if user.is_authenticated %}
                        <li id="nav-link1" class="nav-link {% if request.path == '/favourites/' %}active{% endif %}">
                            <a href="{% url 'favourite_list' %}" id="favorites-link">Favourites</a>
                        </li>
                        <!-- Logout Link (Visible to authenticated users) -->
                        <li id="nav-link2" class="nav-link">
                            <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                                href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        <!-- Divider -->
                        <li>
                            <p>|</p>
                        </li>
                        <!-- Sharetrigger Link (Visible to authenticated users) -->
                        <li>
                            <a class="share-btn {% if request.path == sharetrigger %}active{% endif %}"
                                aria-current="page" href="{% url 'sharetrigger' %}">Sharetrigger</a>
                        </li>
                        {% else %}
                        <!-- Register Link (Visible to non-authenticated users) -->
                        <li id="nav-link3" class="nav-link">
                            <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                                href="{% url 'account_signup' %}">Register</a>
                        </li>
                        <!-- Login Link (Visible to non-authenticated users) -->
                        <li id="nav-link4" class="nav-link">
                            <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                                href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                    <!-- Mobile Navigation Trigger -->
                    <a href="#" data-target="mobile-links" class="sidenav-trigger right"><i
                            class="material-icons">menu</i></a>
                </div>
            </div>
        </nav>

        <!-- Mobile Navigation -->
        <ul class="sidenav" id="mobile-links">
            <!-- Home Page Link -->
            <li id="nav-link5" class="{% if request.path == home_url %}active{% endif %}">
                <a href="{% url 'home' %}">Home</a>
            </li>
            <!-- Conditional TriggerList Link (Shown only on Home Page) -->
            {% if request.path == home_url %}
            <li class="nav-item">
                <a id="nav-link6" class="nav-link" aria-current="page" href="#triggerlist">TriggerList</a>
            </li>
            {% endif %}
            <!-- Favourites Link (Visible to authenticated users) -->
            {% if user.is_authenticated %}
            <li id="nav-link7" class="nav-link {% if request.path == '/favourites/' %}active{% endif %}">
                <a href="{% url 'favourite_list' %}" id="favorites-link">Favourites</a>
            </li>
            <!-- Logout Link (Visible to authenticated users) -->
            <li id="nav-link8" class="nav-link">
                <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                    href="{% url 'account_logout' %}">Logout</a>
            </li>
            <!-- Divider -->
            <li>
                <p>|</p>
            </li>
            <!-- Sharetrigger Link (Visible to authenticated users) -->
            <li>
                <a class="share-btn {% if request.path == sharetrigger %}active{% endif %}" aria-current="page"
                    href="{% url 'sharetrigger' %}">Sharetrigger</a>
            </li>
            {% else %}
            <!-- Register Link (Visible to non-authenticated users) -->
            <li id="nav-link9" class="nav-link">
                <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                    href="{% url 'account_signup' %}">Register</a>
            </li>
            <!-- Login Link (Visible to non-authenticated users) -->
            <li id="nav-link10" class="nav-link">
                <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                    href="{% url 'account_login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>



    <main class="flex-shrink-0 main-bg">

        <!-- Below from Code Institute's I Think Therefore I Blog project -->
        <div class="container">
            <div id="no-margin" class="row ">
                <div class="col-md-8 offset-md-2">
                    {% for message in messages %}
                    <div class="card-panel teal lighten-2">
                        {{ message | safe }}

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <div class="footer-section about">
                <h3>About Us</h3>
                <p>Welcome to TriggerStocks, your go-to platform for intelligent stock triggers and insightful market
                    analysis!
                </p>
            </div>
            <div class="footer-section contact">
                <h3>Contact Us</h3>
                <ul>
                    <li>Email: StockTrigger@alltheway.com</li>
                </ul>
            </div>
            <div class="footer-section social">
                <h3>Follow Us</h3>
                <ul>
                    <li><a href="https://Facebook.com/" target="_blank" aria-label="Facebook"><i
                                class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="https://twitter.com/Aktietriggers" target="_blank" aria-label="Twitter"><i
                                class="fab fa-twitter"></i> X</a></li>
                    <li><a href="https://www.instagram.com/aktietriggers/" target="_blank" aria-label="Instagram"><i
                                class="fab fa-instagram"></i> Instagram</a></li>

                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2024 TriggerStocks | Designed by Anton Eriksson
        </div>
    </footer>

    <!-- MaterializeCSS JavaScript library from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block extras %}
    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>